.backdrop {
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.modal {
    background: white;
    opacity: 1;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
